
#australia_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}
@import url(//db.onlinewebfonts.com/c/531507043252cd73b0af82a7bc7cd7b1?family=URWAgendaW01-Bold);
@font-face {font-family: "URWAgendaW01-Bold"; src: url("//db.onlinewebfonts.com/t/531507043252cd73b0af82a7bc7cd7b1.eot"); src: url("//db.onlinewebfonts.com/t/531507043252cd73b0af82a7bc7cd7b1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/531507043252cd73b0af82a7bc7cd7b1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/531507043252cd73b0af82a7bc7cd7b1.woff") format("woff"), url("//db.onlinewebfonts.com/t/531507043252cd73b0af82a7bc7cd7b1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/531507043252cd73b0af82a7bc7cd7b1.svg#URWAgendaW01-Bold") format("svg"); }
